*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 1200px;
    height: 600px;
    margin: 100px auto;

        .text{
            width: 600px;
            height: 200px;
            margin: 200px auto;
            align-items: center;
            justify-content: center;
            display: flex;
            font-size: 25px;
        }
}